<h1 id='logo'>
  <img style="" src=<%=refinery.root_path%>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>

</h1>
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
