/* $Id: layout-fixed.css,v 1.5 2008/09/14 10:39:32 johnalbin Exp $ */

/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Border Politics Layout Method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

/** body **/
body { margin: 0; padding: 0; }

#page, #closure-blocks { margin-left: auto; margin-right: auto; width: 960px; }
#page-inner { }

/** main (container for everything else) **/
#main { position: relative; }
#main-inner { }

/** header **/
#header {	height: 100px;float: left; width: 960px; margin: 0; }
#header-inner {	padding-left: 158px; }
#header-blocks {  }
#logo-title { }
#logo img {	float: left; margin-left: 13px; margin-top: 65px;	}

/** content **/
#content,
.no-sidebars #content
.sidebar-left #content {
	float: left;
	width: 526px;
	padding: 0;
	margin: 0;
}

.content-left #content-wrapper {
	width: 382px;
	float: right;
	min-height: 350px;
}

#content-inner {
	margin: 0 0 0 13px;
  padding: 0;
  min-height: 300px;
}

/** content left **/
#content-left { width: 121px; float: left; margin: 25px 10px 0 0; }

/** navbar **/
  #navbar
  {
  	text-align: right;
    float: right;
    width: 600px;
    padding: 0;
    margin: 0;
    height: 100px; /*ie6*/

  }

  .with-navbar #content,
  .with-navbar #sidebar-left,
  .with-navbar #sidebar-right
  {

  }
  
  img.portrait {
  	float:right;
  	margin-left: 12px;
  	margin-bottom: 1em;
  }

  #navbar-inner
  {
  	margin: 0;
  	padding: 0;
  	float: right; /* ie6 */
  }


		/* new search box */
		
#block-search-0 {
	float: right;
}

#block-search-0 .content {
	background-color: white;
}
		
	#search-block-form {
    margin-right: 12px;
		margin-top: 14px;

	}
	
	
	.form-text {
			border-style: solid;
		border-color: #dadcdb;
		border-width: 1px;
		height: 15px;
			}
	
	#search-block-form .form-text, #user-login-form .form-text {
		width: 166px;
		margin-right: 7px;
		float: left;
	}	
	
	#search-block-form .postbutton,  #user-login-form .postbutton {
		float: left;
		margin: 0;
		width: 43px; /* fixed width to prevent overfloat */
		padding: 0;
	}
	
	#search-block-form .postbutton {
		margin-right: 8px;
	}
	
	#edit-name {
		margin-bottom: 7px;
	}

	#block-menu-secondary-links .block-inner {
		margin: 0;
		padding: 0;
		
	}
	
	#block-menu-secondary-links, #block-menu-secondary-links .content {
				 height: 55px;
				 margin: 0;
				 padding: 0;

	}
	
	#block-menu-secondary-links .block-inner .content .menu {
		 width: 250px;
		 margin: 0;
		 padding: 0;
		 
	}	
	
	#block-menu-secondary-links .block-inner .content .menu li {
		 float: right;
		 margin-top: 10px;
		 margin-left: 10px;
	}
	
  #block-menu-secondary-links ul a {
    text-decoration: none;
    color: white;
  }


/* custom button */
.postbutton, #block-menu-secondary-links li, #edit-submit {
	height: 19px;
	color: white;
	background-color: #e58c4a;
	font-size: 11px;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	cursor: pointer;
	line-height: 18px;
}

	
.postbutton:hover, #block-menu-secondary-links li:hover {	background-color: #949599	;	}

/* Primary and secondary links */
#navbar ul { margin: 0; padding: 0; text-align: left; }
#navbar li { float: left; padding: 0 10px 0 0; }

/** sidebar-left **/
#sidebar-left { float: left; width: 158px; margin: 0; padding: 0;}
#sidebar-left-inner { margin: 25px 0 0 0; padding: 0; }

/** sidebar-right **/
#sidebar-right { float: left; width: 263px; margin: 0; padding: 0; position: relative;}
#sidebar-right-inner { margin: 0 0 0 13px; padding: 0; }

/** footer **/
#footer {	margin: 0;	padding: 0; }
#footer-inner { padding: 0; margin: 0 0 0 158px; }

/** closure **/
#closure-blocks { }

/** Prevent overflowing content **/
#header, #content, #navbar, #sidebar-left, #sidebar-right, #footer, #closure-blocks {	overflow: visible; word-wrap: break-word; }
#navbar { overflow: hidden; }

/*  If a div.clear-block doesn't have any content after it, Firefox and Safari
		will mistakenly place several pixels worth of space between the bottom of
		the div and the bottom of the viewport. This fixes it. */
#page { overflow-y: hidden; } /* CSS3 property */