/* $Id: messages.css,v 1.1 2008/09/15 10:36:22 johnalbin Exp $ */

/*
 * MESSAGES STYLE
 *
 * Add sensible messages styling.
 */

div.messagewrapper { width: 100%; margin: 0; padding: 0 0 35px 0; color: #000; background-color: #ededef; font-size: 12px; }
div.messageinner { width: 960px; margin: 0 auto 0 auto; }

  div.messages, /* Important messages (status, warning, and error) for the user */
  div.status,
  div.warning,
  div.error,
  div.help
  {
  	border-color: #f36e21;
  	border-style: solid;
    border-width: 3px;
    padding: 12px;
		width: 772px;
		margin-left: 158px;
		margin-bottom: 20px;
		background-color: white;		
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning /* Medium priority messages */
  {
  }

  div.warning,
  tr.warning,
  body.section-admin tr.warning
  {
    color: #000; /* Drupal core uses #220 */

  }

  div.error /* High priority messages. See also the .error declaration below. */
  {
    /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */

  }

  div.error,
  tr.error,
  body.section-admin tr.error
  {
    color: #900; /* Drupal core uses #200 */
    background-color: #ededef;
  }

  div.messages ul
  {
    margin-top: 0;
    margin-bottom: 0;
  }
