/* General Overrides */

body
{
  background-color:#FCF8EB;
  color:#363636;
}

#header, #content, #navbar, #sidebar-left, #sidebar-right, #footer, #closure-blocks {
word-wrap:normal;
}

#navbar
{
  width:593px;
}

#logo img
{
  margin-top:46px;
}

.clear-fix { clear: both; }

#sidebar-right, #copyright, #email
{
  border-color:#8B271C;
}

#page
{
  background: url("../images/content-background.gif") repeat-y scroll right 0 transparent;
}

#content-inner
{
  border-color:#8B271C;
}

.block .content
{
  background: #FCF8EB;
}

.messagewrapper
{
  background:none;
}

/* Typography */
h3, h4, h2, h1, h1.title, .node-type-newsletter-article #content-header h1.title, .section-newsletters #content h2.title, .section-newsletters .signoff
{
  color: #8B271C;
}

.view-team-list h3 {
color:#8B271C;
}

.section-newsletters h3, .section-newsletters h4
{
  color: #8B271C;
}

h2.deck
{
  color:black;
}

#mission
{
  border:none;
  padding:0;
  margin:0;
}

/*a, a:visited, a:hover*/
/*{*/
/*  color:#0086a6;*/
/*}*/


/* Menus */
ul.menu { font-family: Arial, Helvetica, Verdana, sans-serif; }
#sidebar-left ul.menu a { background: #fFF; color: #363636; }
#sidebar-left ul.menu li a:hover, #sidebar-left ul.menu li a.active, #sidebar-left ul.menu li a.active-trail { 	background-color: #86291b; color: #fff;}

#block-menu-primary-links ul li a:hover
{
  color:#8B271C;
}

/* Locations */
.office dd, .office dt
{
  float:left;
  margin:0;
}
  dl.team dt {
  width: 40%;
  line-height: 20px;
}

  dl.team dd {
  width: 40%;
  line-height: 20px;
  font-style:italic;
}

  .office div.team {
  font-size: 12px;
  float: left; 
  width: 48%;
}

.office .address
{
  float:left;
}

  .office div.team dl.team {
  font-size: 12px;
  margin-bottom: 6px;
}

  .office div.team dl.team dt, .office-block div.team dl.team dt {
  width: 46%;
  line-height: 14px;
}

  .office div.team dl.team dd, .office-block div.team dl.team dd {
  width: 54%;
  line-height: 14px;
}

  .office div.contact {
  font-size: 12px;
  float: right;
  width: 48%;
}

.office .contact p
{
  font-size:12px;
}

  .office div.contact dl.phone {
  float: right;
  width: 47%;
  font-size: 12px;
}

  .office div.contact dl.phone dt {
  float: left;
  line-height: 14px;
  clear: left;
  width: 30px;
  padding-right: 0;
}

  .office div.contact dl.phone dd {
  float: right;
  line-height: 14px;
}

.office
{
  background:none repeat scroll 0 0 #FCF8EB;
  border-bottom:2px solid #8B271C;
  border-top:4px solid #8B271C;
  clear:both;
  padding:10px 5px;
  margin-bottom:20px;
}

.office-block .front-team
{
  display:none;
  background: none repeat scroll 0 0 #FCF8EB;
  padding: 6px 5px;
  clear:both;
  margin:0;
}

.office-block dl.team dt
{
  float:left;
}
.office-block dl.team dd
{
  float:right;
  width:55%;
  margin:0;
}

.office-block .team a
{
  color:white;
}

.office-block .phone dd, .office-block dl.phone
{
  margin:0;
}

.office-block dl.phone
{
  float:left;
  width:50%;
}

.office-block .phone dt, .office-block .phone dd
{
  float:left;
  width:40%;
}

.office-block .header a
{
  float:right;
}

.office-block .header h3
{
  float:left;
  margin:0;
}

.office-block .content
{
  clear:both;
  height:auto !important;
}

.office-block p.contact em
{
  display:block;
}

.office-block .address
{
  float:left;
  width:50%;
}

.office-block dl.phone
{
  float:left;
  width:50%;
}

.office-block p.contact
{
  margin-bottom:10px;
}

.office-block
{
  margin-bottom:15px;
}

.front-team .name
{
  display:block;
}

.front-team .position
{
  font-style:italic;
}

.front-team .member
{
  border-width:0 0 1px;
  border-color:white;
  border-style:solid;
}

.front-team .last
{
  border:none;
}

#block-views-locations-block_1
{
  height:auto;
  margin-top:25px;
}

/* Newsletters */
#block-wanger_funds-3 .content
{
  background: #FCF8EB;
}

.newsletter-toc a:hover
{
  background: #FCF8EB;
}

/* Team Subnav */
.view-team-subnav .views-field-tid
{
  font-style:italic;
}

.view-team-subnav .views-row
{
  border-bottom:1px solid #AFADAE;
  padding: 6px 8px 10px;
  background: #FCF8EB;
}

.view-team-subnav .views-row-last
{
  border:none;
}

.view-team-subnav a.active
{
  font-style:italic;
  color: #363636;
}

.view-team-subnav
{
  font-size:10px;
}

#block-views-team_subnav-block_1 .content
{
  background:transparent;
  padding:0px;
}


/* Newsletters */
#block-wanger_funds-3 .content
{
  background: #FCF8EB;
}

.newsletter-toc a:hover
{
  background: #FCF8EB;
}

.newsletter-toc a
{
  color: #505153;
}

/* Market Outlooks*/
.front #content-area
{
  border-bottom: 1px solid #8B271C;
  margin-bottom:20px;
  padding-bottom:5px;
}

.not-logged-in #content-bottom .block.even > .block-inner {
margin-left:0px;
}

#block-views-marketoutlook-block_1 .view-content
{
  margin-top:4px;
  background:#FCF8EB;
  border-top:1px solid #AFADAE;
  border-bottom:1px solid #AFADAE;
  padding:6px 8px 10px;
  height:108px;
}

#block-views-marketoutlook-block_1  .report-title
{
  float:none;
}

#sidebar-right .block
{
  margin-top:0px;
  margin-bottom:30px;
  clear:both;
}

#market-outlook-accordion a.switch
{
  border-color:white;
  border-style:solid;
  border-width:1px 0 0;
  display:block;
  font-size:13px;
  padding:5px 0;
}

#market-outlook-accordion a.first
{
  border:none;
}

#market-outlook-accordion, #block-views-marketoutlook-block_3
{
  font-size:11px;
}

#market-outlook-accordion .views-row, #block-views-marketoutlook-block_3 .view-content {
text-align:right;
}
.report-title {
float:left;
}

/*homepage*/
#block-views-marketoutlook-block_1
{
  margin-top:20px;
  float:left;
}

.view-marketoutlook .shadow-container
{
  background:url(../images/market-drop-shadow.png) no-repeat;
  width:67px;
  height:52px;
}

#block-views-marketoutlook-block_1 .report-title, #block-views-marketoutlook-block_1 .newsletter-download
{
  float:left;
  width:150px;
}

/* Why WOW */
#block-wanger_funds-6
{
  float:left;
  font-size:11px;
  height:160px;
  display:inline-block;
}

#block-wanger_funds-6 .shadow-container
{
  float:left;
}

#whywow-left, #whywow-right
{
  float:left;
}

#whywow-left
{
  width:163px;
}


/**logged in links**/
#loggedin-links
{
  clear:both;
  float:right;
  margin-top:50px;
  margin-right:5px;
}

#loggedin-links a
{
  color:#86291B;
}

/**knowledgetree block**/
#block-kt_REST-kt-home
{
  margin-top:-10px;
}

/**messages**/
div.messages, div.status, div.warning, div.error, div.help
{
  margin:0;
  padding:0;
  width:85%;
  border-color: #D9D9D9;
  padding:5px;
  margin-bottom:15px;
}

/**Buttons**/
#edit-submit
{
  border:0px;
  padding:2px 15px;
  height:auto;
  background:#8B271C;
}