html { color: #505153; font-size: 12px; font-family: Helvetica, Arial, Verdana; background-color: #edecef; background-image: url(../images/background-stripe.gif); line-height:18px; }

.clear-fix { clear: both; }

/* Main layout */
#page { width: 960px; margin: 0 auto; }
#header { position: relative; height: 100px; margin: 0 0 0 158px; background: white; }
#sidebar-left { width: 158px;  float: left; margin: 16px 0 0 0; }
#main { width: 802px; float: left; background: white; }
#content { margin: 0 0 0 13px; width: 513px; float: left; border: solid #db7400; border-width: 5px 0 0 0;  }
#sidebar-right { margin: 4px 13px 0 0; width: 263px; float: right; border: solid #db7400; border-width: 1px 0 0 0; }
#sidebar-right-inner {
margin:0 0 0 13px;
padding:0;
}
#bottom-bar { width: 802px; background: white; clear: both; }
#footer { width: 802px; background: white; clear: both; }
#left-footer { margin: 0 0 0 13px; padding: 3px 0 8px 0; float: left; width: 513px; border: solid #db7400; border-width: 5px 0 0 0;}
#right-footer { margin: 4px 13px 0 0; padding: 3px 0 8px 0;  float:right; width: 263px; border: solid #db7400; border-width: 1px 0 0 0; }

/* Secondary Layout */
#content-main { padding: 18px 0; }
#logo { position: absolute; left: 13px; top: 62px; }

/* Menus */
#sidebar-left ul.menu {	font-size: 11px; position: relative;	width: 158px; /*ie6*/ }
#sidebar-left ul.menu li.first a { border: none; line-height: 21px; }
#sidebar-left ul.menu a { background: white; color: #505153; font-weight: bold; text-decoration: none;	display: block;	padding: 1px 0 1px 0; width: 158px; text-indent: 7px; border: solid #dadcdb; border-width: 1px 0 0 0; line-height: 20px; }
#sidebar-left ul.menu li.expanded li a { text-indent: 14px; border: none; }
#sidebar-left ul.menu li a:hover, #sidebar-left ul.menu li a.active, #sidebar-left ul.menu li a.active-trail { 	background-color: #949599; color: white;}
#sidebar-left ul.menu li.expanded li.last a { border: solid #949599; border-width: 0 0 1px 0; padding-bottom: 4px;}
ul.menu li
{
  list-style:none;
  list-style-image:none;
  margin:0px;
}

ul.menu li.leaf
{
  padding:0px;
}

#sidebar-left ul.menu
{
  padding:0px;
}

#block-menu-primary-links
{
  float:right;
}

#block-menu-primary-links ul li
{
  float:right;
  list-style:none outside none;
}

#navbar li
{
  padding: 0 10px 0 0;
}

#block-menu-primary-links ul li a
{
  border-left:1px solid #DADCDB;
  border-width:0 0 0 1px;
  color:#505153;
  display:block;
  font-size:11px;
  font-weight:bold;
  padding-left:6px;
  padding-right:26px;
  padding-top:14px;
  text-decoration:none;
}

/* Typography */
.spot { color: #e17326; }
.landing { font-size: 20px;	line-height: 1.4em;	padding-bottom: 32px; margin-bottom: 25px; border: solid #e17326;	border-width: 0 0 1px 0; }
p { margin-bottom: 1em; line-height: 18px; }
h1.title{font-size:20px;line-height:26px;margin-bottom:0.5em}

#footer-message, #left-footer, #right-footer
{
  color:#505153;
  font-size:10px;
}



/* Links */
a {	color: #949952;	text-decoration: none; }
a:hover {	color: #949952;	text-decoration: underline; } 
a:focus { outline: none; }

/* Tabs */
div.tabs { font-size: 13px; margin: 0 0 10px 0; border: solid #dadcdb; border-width: 0 0 1px 0; text-align: right; padding: 0 10px 0 0;  }
div.tabs li { display: inline-block; }
div.tabs a { background: white; color: #505153; display: block; margin: 0 0 -1px 5px; padding: 5px 8px 4px 8px; border: 1px solid #dadcdb; }
div.tabs a:hover, div.tabs a.active { text-decoration: none; border-color: #dadcdb #dadcdb white #dadcdb; }

/* Lists */
.node ul li { list-style: disc; margin: 0 0 10px 20px; font-size: 14px; }

/* Domain Switcher */
#block-domain-0 { padding: 3px 8px; font-size: 13px; }
#block-domain-0 a { display: block; margin: 4px 0; }
#block-domain-0 .title { font-weight: bold; }

/* Blocks */

.block .content
{
  border-bottom:1px solid #AFADAE;
  border-color:#AFADAE;
  border-top:1px solid #AFADAE;
  margin-top:4px;
  padding:6px 8px 10px;
}

#block-menu-primary-links .content
{
  border:none;
  padding:0px;
}

/* Newsletter */

#block-wanger_funds-4 .content
{
  border-bottom:1px solid #AFADAE;
  padding:0;
}

#block-wanger_funds-4 span.switch
{
  border-color:#AFADAE;
  border-style:solid;
  border-width:1px 0 0;
  cursor:pointer;
  display:block;
  padding:3px 0 2px;
}

#block-wanger_funds-2 .block-inner {
margin:0;
padding:0;
}

.newsletter-toc a span.title {
display:inline-block;
font-weight:bold;
width:338px;
}

#block-wanger_funds-4 {
font-size:12px;
margin-bottom:100px;
margin-top:30px;
}

.section-newsletters h1.title {
border-color:#AFADAE;
border-style:solid;
border-width:0 0 1px;
color:#505153;
margin-bottom:18px;
margin-top:-6px;
}

/* Forms */
/* access request webform */
input { font-family: Arial, Helvetica, Verdana, sans-serif; }
input:focus { outline: none; }
select {  font-family: Arial, Helvetica, Verdana, sans-serif; }
span.form-required { color: #e17326;  }
.webform-client-form fieldset {

	margin-bottom: 2em;
	border: none;
	padding: .2em 0 0 0;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
.webform-client-form fieldset legend { margin: 0; padding: 0; text-indent: 0; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, Verdana, sans-serif; }
.webform-client-form #webform-component-personal_information .form-item label { font-size: 12px; float: left; width: 100px; text-align: right; margin-right: 5px; font-weight: normal;}
.webform-client-form .form-text { width: 200px; }
.webform-client-form #edit-submitted-personal-information-address-2-wrapper label { visibility: hidden; }
.webform-client-form #webform-component-subscribe_to_newsletter label { visibility: hidden; }
.webform-client-form #webform-component-subscribe_to_newsletter label.option { visibility: visible; width: 200px; }
.webform-client-form .postbutton { float: right; width: 40px; margin-bottom: 40px; }
#webform-component-for_individual_investors_only div, #webform-component-for_corporations_foundations_endowments_or_partnerships div {margin-left: 10px; }


#webform-client-form-109 label { font-size: 12px; float: left; width: 100px; text-align: right; margin-right: 5px; font-weight: normal;}
#webform-component-address_2 label { visibility: hidden; }
#edit-submitted-personal-information-address-wrapper, #edit-submitted-address-wrapper { margin-bottom: 0; }
#edit-submitted-personal-information-address-2-wrapper, #edit-submitted-address-2-wrapper { margin-top: 0; }
.gecko #edit-submitted-personal-information-address-2-wrapper, .gecko #edit-submitted-address-2-wrapper { margin-top: -1px; }
#edit-submitted-address-2 { border-top: none; }

.webform-client-form select { width: 200px; }

#webform-client-form-109 .postbutton { width: 70px; float: left; }
#webform-component-privacy { line-height: 0px; height: 19px; width: 215px; text-align: right; font-size: 10px; float: left; padding-right: 10px;  }


