/* BODY */
body { font-family: Arial, Helvetica, Verdana, sans-serif; background-color: #ededef; background-image: url(images/background-stripe.gif); color: #505153; }
#page {	background-image: url(images/content-background.gif); }
#page-inner { }
select { font-family: Arial, Helvetica, Verdana, sans-serif; color: #505153;}
input {  color: #505153; }


/* LINKS */
a {	color: #949952;	text-decoration: none; }
a:hover {	color: #949952;	text-decoration: underline; } 
a:focus { outline: none; }


.link-arrow a { font-size: 11px; }

.link-arrow:before { content: "> "; display: inline; font-size: 11px; color: #949952; }

/* ie generated content kludge */
.link-arrow { -ie-content: expression(this.parsed ? 0 : (insertAdjacentText("afterBegin","> "), this.parsed = 1));
	font-size: 11px;
	color: #949952;
}

#block-views-team_list-block_1 a.active:before { content: "> "; display: inline; font-size: 11px; color: #949952; }
#block-views-team_list-block_1 h3 { width: 120px; }


#block-views-team_list-block_1 a.active { -ie-content: expression(this.parsed ? 0 : (insertAdjacentText("afterBegin","> "), this.parsed = 1));
	font-size: 11px;
	color: #949952;
}

#mission-link { float: right; }

/* HEADER */
#header { }
#header-inner { }
#logo-title { }
#logo { margin: 0 10px 0 0; padding: 0; }
#logo-image { }

/* CONTENT */
#main { }
#main-inner {}
#content { }
#content-inner { 	border-top: 5px;
	border-color: #e17326;
	border-style: solid;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	padding-top: 18px;
	} 
#content-top { }
#content-header { }
#mission {  font-family: Helvetica, Arial, sans-serif; font-size: 20px;	line-height: 1.4em;	padding-bottom: 32px; margin-bottom: 25px; border-bottom: 1px;	border-bottom-color: #e17326;	border-bottom-style: solid; border-left: 0; border-right: 0; border-top: 0; }




h1.title,  h2.title, h3.title { margin: 0; }
h1.title {  font-family: Helvetica, Arial, sans-serif; font-weight: normal;	font-size: 20px; color: #e17326; margin-bottom: .5em; }
  

.news.block { float: left; height: 160px; }
.not-logged-in #content-bottom .block.even > .block-inner { margin-left: 13px; }
.logged-in #content-bottom .block.odd > .block-inner { margin-left: 13px; }



.news.block .block-inner { margin: 0; width: 250px;	margin-bottom: 8px; }
.news {	font-size: 11px; }
.news-list { line-height: 1.2em;}
.shadow-container { text-align: right; float:right;  width: 67px; height: 84px; background-image:  url(images/drop-shadow.png); margin: 2px 3px 0 0; }
.news-image-container { text-align: right; float:right; margin: 2px 3px 0 0; }







#block-wanger_funds-4, #block-views-news-block_1 { margin: 0; padding: 0; float: left;}
#block-wanger_funds-3, #block-views-newsletter_archives-block_1, #block-views-newsletter_archives-block_2 { margin: 0; padding: 0; float: right;}

#block-wanger_funds-4 .block-inner, #block-wanger_funds-3 .block-inner, #block-views-news-block_1 .block-inner, #block-views-newsletter_archives-block_1 .block-inner, #block-views-newsletter_archives-block_2 .block-inner { margin: 0 !important; width: 250px;	margin-bottom: 8px; } /* override odd shift */

#block-wanger_funds-4 .content, #block-wanger_funds-3 .content, #block-views-news-block_1 .content, #block-views-newsletter_archives-block_1 .content, #block-views-newsletter_archives-block_2 .content { background-color: transparent; border-bottom: none; padding: 3px 0 0 0; }



/* Accordion archives */

/*

#accordion { font-size: 13px; }
#accordion a.switch:focus { outline: none; }
#accordion a.switch { display: block;  border: solid #dddddd; border-width: 1px 0 0 0; padding: 1px 0; }
#accordion a.first { border: none; }
#accordion div { padding: 0 0 5px 0; font-size: 11px; }

*/

/* Current Newsletter PDF */
#block-wanger_funds-1 .block-inner { margin-top: 54px; }

/* Newsletters by Date */
#block-wanger_funds-3 { margin-top: 30px;  }
#block-wanger_funds-3 a.switch { font-size: 13px; display: block; padding: 5px 0; border: 1px solid white; border-width: 1px 0 0 0; }
#block-wanger_funds-3 a.first { border: none; }
#block-wanger_funds-3 .content { padding: 0 7px; font-size: 11px; background: #edefee; border-bottom: 1px solid #afadae;}
#block-wanger_funds-3 #accordion div {margin-bottom: 8px; }

/* Newsletters by Author */
#block-wanger_funds-4 { margin-top: 30px; font-size: 12px; margin-bottom: 100px; }
#block-wanger_funds-4 .block-inner { width: 513px; }
#block-wanger_funds-4 span.switch { display: block; cursor: pointer; border: 1px solid #afadae; border-width: 1px 0 0 0; padding: 3px 0 2px 0;}
#block-wanger_funds-4 span.switch:focus { outline: none; }
#block-wanger_funds-4 span.first { border: none; }
#block-wanger_funds-4 .content { padding-top: 0px; border-bottom: 1px solid #afadae; }
#block-wanger_funds-4 div.fold { display: block; width: 338px; position: relative; top: -23px; margin-left: 175px; }
#block-wanger_funds-4 div.article-by-author { border: 1px solid #afadae; border-width: 1px 0 0 0; padding: 3px 0 2px 0; }
#block-wanger_funds-4 div.first { border: none; }

/* front page newsletter block */
#block-block-10 div.content div.news { width: 163px !important; }

#block-views-news-block_1 .block-inner .content h2.title { margin-top: 2em !important; }
  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }
  
  
  #welcome {
  position: absolute;
  color: #505153;
  	font-size: 11px;
  	left: 710px;
  	top: 83px;
  }
  
  

  
/** menu **/

  
#sidebar-left ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative; /* ie6 removes bullets */
	border: none;
	width: 158px; /*ie6*/

}

#sidebar-left ul.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: white;

}

#sidebar-left ul.menu li.first a {
	border: none;
	line-height: 21px;

}





#sidebar-left ul.menu a {
	color: #505153;
  font-weight: bold;
	text-decoration: none;
	display: block;
	font-size: 11px;
	padding: 1px 0 1px 0;
	margin:0;
	width: 158px;
	text-indent: 7px;
	border: solid #dadcdb;
	border-width: 1px 0 0 0;
	line-height: 20px;

}



#sidebar-left ul.menu li.expanded li a { text-indent: 14px; 	border: none; }
#sidebar-left ul.menu li a:hover, #sidebar-left ul.menu li a.active, #sidebar-left ul.menu li a.active-trail { 	background-color: #949599; color: white;}
#sidebar-left ul.menu li.expanded li.last a { border: solid #949599; border-width: 0 0 1px 0; padding-bottom: 4px;}

#sidebar-left ul.menu li.expanded #funds-menu-item {
	background-color: #949599;
	color: white;
	background-image: url(images/menu-arrow.png);
	background-repeat: no-repeat;
	background-position-x: 143px;
	background-position-y: 7px;
	background-position: 143px 7px;
	padding-bottom: 0;
}

#sidebar-left ul.menu li.expanded li { background-color: #fbfbfb; }
#sidebar-left ul.menu li.expanded li a:hover, #sidebar-left ul.menu li.expanded li a.active, #sidebar-left ul.menu li.expanded li a.active-trail {
color: #e17326;
background-color: transparent;
}


  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  	width: 158px; /*ie6*/
  }
  

  
  .search-info {
  	visibility: hidden;
  }
  
  



/** Primary Links **/
#block-menu-primary-links {
	float: right;

}

#block-menu-primary-links .content {
	background-color: white;
		
}

#block-menu-primary-links ul li {
	float: right;
	list-style: none;
}

#block-menu-primary-links ul li a {
	color: #505153;
	  font-weight: bold;
	border-left-color: #dadcdb;
	border-left-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-width: 0px;
	border-left-style: solid;
	padding-top: 14px;
	padding-left: 6px;
	padding-right: 26px;
	text-decoration: none;
	display: block;
	font-size: 11px;
}

#block-menu-primary-links ul li a:hover {
	color: #e17326;
}
  

/** navbar **/
  #navbar
  {
  	
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {

  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  	border-top: 1px;
  	border-color: #e17326;
  	border-style: solid;
  	border-left: 0;
  	border-right: 0;
  	border-bottom: 0;
  	margin-top: 4px;

  }

  #sidebar-right-inner
  {

  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  
  	font-size: 10px;
  	color: #505153;
  }
  
  p.footnote { font-size: 10px; line-height: normal; }
  
  #copyright {
  float: left;
  width: 513px;
  	border-top: 5px;
  	border-color: #e17326;
  	border-style: solid;
  	border-bottom: none;
  	border-left: none;
  	border-right: none;
    margin: 20px 0 0 13px;
    padding: 0;
  }

  #disclaimer {
  float: left;
  width: 513px;
      margin: 0 0 0 13px;
    padding: 0 0 15px 0;
    line-height: normal;
  }  

  
  #email {
    float: left;
    margin: 24px 0 0 0;
		padding: 0 0 0 13px;
  	border-top: 1px;
  	border-color: #e17326;
  	border-style: solid;
  	border-left: 0;
  	border-right: 0;
  	border-bottom: 0;
  	width: 250px;   	
  }
  
  #footer-message a {
  	color: #505153;
  	text-decoration: none;
  }
  
  
  #footer-message a:hover {
  	color: #e17326;

  }  

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  #content-area, .node .content /* Node's content wrapper */
  {
   	font-size: 12px;  	
  	line-height: 1.5em;
  	margin-top: 0;
  }
  
  h3 {
    font-size: 12px;  	
  	line-height: 1.5em;
  	margin-bottom: 0;
  	margin-top: 1em;
  	font-weight: bold;
  }
  
  ol {
  	font-size: 12px;
  }
  
  ol li {
  	margin-bottom:  1em;
  }
  
  div.team-name {
  	float: left;
  	width: 180px;
  }
  
   div.team-name, div.team-position {
   	font-size: 12px;
   }
   

  .node .content p {
  	margin-bottom: 1em;
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }


/** Drupal blocks **/
  .block /* Block wrapper */
  {

  }
  
  /* do not float sidebar blocks */
  #sidebar-right .block {
  	/* #sidebar-right .block  */ /* TURNED OFF FOR IE6 */
  }


#navbar .block-inner, #block-menu-secondary-links .block-inner, #sidebar-left .block-inner {
	margin-left: 0;
	margin-top: 0;
}


  .block-inner /* Additional wrapper for block */
  {
  	margin-top: 20px;
  }

	/* special block cases don't get content padding special style */
  #navbar .content, #block-menu-secondary-links .content, #sidebar-left .content {
  	padding: 0;
  	margin: 0;
  	border: 0;
  }
  
  
  
  .block .content /* Block's content wrapper */
  {
  	margin-top: 4px;
		background-color: #edefee; 
  	padding: 6px 8px 10px 8px;
  	border-top: solid;
  	border-bottom: solid;
  	border-top-width: 1px;
  	border-bottom-width: 1px;  	
  	border-color: #afadae;
		
  }
  
  #block-menu-secondary-links .content { background-color: transparent; }
  
  .block .content form {	}
  


  .block h2.title /* Block title */
  {
  	color: #505153;
		font-size: 11px;
		font-weight: bold;
		line-height: normal;
		margin: 0;
  }
  
  .block p {
  	padding: 0;
  	margin: 0;
  	color: #505153;
		font-size: 11px;  	
  }
  
  .login-message {
    color: #505153;
		font-size: 11px;
		font-weight: bold;
		margin-bottom: 10px;
    border: solid 1px #dadcdb;
    padding: 5px;
  }

  
  /* #block-user-0 .item-list { visibility: hidden; height: 20px; } /* TK temp hide password request */
  #block-user-0 label { clear: left; }


/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */
  {
    border-bottom: none;
    padding: 0;
  }

  tr.even
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-size: 11px;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }
  
  /* hide the required asterisk for the login    */
  #user-login-form .form-required {
  	position: absolute; 
    left: -10000px;
  }
  
  #user-login-form .form-item {
      margin: 0;
      }
      

      
      /* mission */
      span.spot {
      	color: #e17326;
      }
  
  
  /* hide the search form label */
#search-block-form label {
  	position: absolute; 
    left: -10000px;
}  
  
  #user-login-form ul {
  	padding-top: 20px;
  	margin-left: 15px;
  	padding-left: 0;
  	/*list-style-image: url(images/link-bullet.png); */

  }

  
  #user-login-form ul li {
  	margin: 0;
  	padding: 0;
  	text-indent: -3px;
		font-size: 11px;
	

  }
  
#user-login-form ul li a {
		color: #e17326;
		text-decoration:  none;
	}
	
#user-login-form ul li a:hover {
		text-decoration: underline;
	}  	

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
   #user-login-form label { font-weight: normal; }
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  	padding-left: 20px;
  	background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
  	list-style-type: none;
  	list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * admin section of the site.
   */
  .section-admin tbody
  {
    border-top: 1px solid #ccc;
  }

  .section-admin th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  .section-admin tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  .section-admin thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  .section-admin tr.even,
  .section-admin tr.odd
  {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
  }
 
 /* Node display */
.field .field-label,
.field .field-label-inline,
.field .field-label-inline-first {
  font-weight: normal;
  margin-top: 20px;
}

 
 /* Top Holdings */
 
 /* temp disable on iag page */
.page-funds-income-and-growth .field-field-top-holdings { display: none; visibility: hidden; }
 
 /* each row */
.field-field-top-holdings .field-item {
	font-size: 11px;
}

.field-type-holding .field-item {
	border-color: #afadae;
	border-style: solid;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	margin-top: 3px;
}

.fund-holding-company {
		float: left;
		width: 282px;
}

.fund-holding-symbol {
	
}

/*sidebars */

span.title {
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
}


/* Squeeze things into the 	news blocks */
.front #content-bottom span.title,
.front #sidebar-right span.title
{ margin: 0; padding: 0; padding-top: -2px; }

.front #content-bottom .link-arrow,
.front #sidebar-right .link-arrow
{ height: 14px; margin: -4px 0 0 0; }




span.not-first {
	margin-top: 3px;
}

ul.more-info {
	list-style-position: outside;
	list-style-type: none; 
	/* list-style-image: url(images/link-bullet.png); */
	font-size: 11px;
	margin: 3px 5px 3px 0;
	padding: 0;
	line-height: normal;	
	
}



ul.more-info li:before {
	content: ">";
	color: #949952;

}

/* ie generated content kludge */
ul.more-info li {

	-ie-content: expression(this.parsed ? 0 : (insertAdjacentText("afterBegin","> "), this.parsed = 1));
	font-size: 11px;
	color: #949952;
}

ul.more-info li { list-style-type: none;
        margin-left: 10px;
        text-indent: -8px; }

/* access request webform */
input { font-family: Arial, Helvetica, Verdana, sans-serif; }
input:focus { outline: none; }
select {  font-family: Arial, Helvetica, Verdana, sans-serif; }
span.form-required { color: #e17326;  }
.webform-client-form fieldset {

	margin-bottom: 2em;
	border: none;
	padding: .2em 0 0 0;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}
.webform-client-form fieldset legend { margin: 0; padding: 0; text-indent: 0; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, Verdana, sans-serif; }
.webform-client-form #webform-component-personal_information .form-item label { font-size: 12px; float: left; width: 100px; text-align: right; margin-right: 5px; font-weight: normal;}
.webform-client-form .form-text { width: 200px; }
.webform-client-form #edit-submitted-personal-information-address-2-wrapper label { visibility: hidden; }
.webform-client-form #webform-component-subscribe_to_newsletter label { visibility: hidden; }
.webform-client-form #webform-component-subscribe_to_newsletter label.option { visibility: visible; width: 200px; }
.webform-client-form .postbutton { float: right; width: 40px; margin-bottom: 40px; }
#webform-component-for_individual_investors_only div, #webform-component-for_corporations_foundations_endowments_or_partnerships div {margin-left: 10px; }


#webform-client-form-109 label { font-size: 12px; float: left; width: 100px; text-align: right; margin-right: 5px; font-weight: normal;}
#webform-component-address_2 label { visibility: hidden; }
#edit-submitted-personal-information-address-wrapper, #edit-submitted-address-wrapper { margin-bottom: 0; }
#edit-submitted-personal-information-address-2-wrapper, #edit-submitted-address-2-wrapper { margin-top: 0; }
.gecko #edit-submitted-personal-information-address-2-wrapper, .gecko #edit-submitted-address-2-wrapper { margin-top: -1px; }
#edit-submitted-address-2 { border-top: none; }

.webform-client-form select { width: 200px; }

#webform-client-form-109 .postbutton { width: 70px; float: left; }
#webform-component-privacy { line-height: 0px; height: 19px; width: 215px; text-align: right; font-size: 10px; float: left; padding-right: 10px;  }
#webform-client-form-26 #webform-component-privacy { width: 450px;  }

/* suppress messages, red outlines are enough */
.node-type-webform .messagewrapper { visibility: collapse; display: none; }

li.collapsed, li.expanded, li.leaf {list-style-type: none; list-style-image: none; }

/* style sidebar file lists */
.file-wrapper { padding: 5px 0 6px 0; border: white solid; border-width: 1px 0 0 0; }
.file-wrapper.first { border: none; padding: 0 0 6px 0;}
.file-wrapper.last { padding: 5px 0 0 0;}


/* newsletter section */
.section-newsletters h1.title { border: solid #afadae; border-width: 0 0 1px 0; margin-top: -6px; color: #505153; margin-bottom: 18px; }


.section-newsletters blockquote { font-style: italic; padding: 0 25px; margin: 0; }
.section-newsletters cite { margin: 0 30px 0 200px; display: inline-block; font-style: normal; }
.section-newsletters .signoff { margin: 0 0 30px 0; padding-bottom: 30px; width: 300px; color: #e17326; }
.section-newsletters .byline { font-style: italic; }
.section-newsletters .caption { font-style: italic; padding: 10px 25px; margin: 0; }
.section-newsletters .node img { margin: 20px auto 10px auto; display: block; }
.section-newsletters .node li { margin-bottom: 10px; }

.node-type-newsletter-article #content-header h1.title, .section-newsletters #content h2.title { font-size: 16px; border: none; color: #e17326; font-weight: normal; }

.section-newsletters #content h2.title { position: relative; }
.section-newsletters #content h2.title span.sort-archives { color: #505153; position: absolute; right: 0; bottom: 0; font-size: 11px;  vertical-align: bottom; }


.section-newsletters #content h2.title { padding-top: 8px; }
.section-newsletters h2.deck { font-size: 12px; font-weight: normal; padding-top: 8px; }
.section-newsletters h3 { font-size: 11px; font-weight: bold; margin: 2em 0 0 0; padding: 0;}

#block-wanger_funds-2 .block-inner { margin: 0; padding: 0; }
#block-wanger_funds-2 .content { background: transparent; border: none; margin: 0; padding: 0; }

.newsletter-nav { font-size: 11px; line-height: 14px; border: solid white; border-width: 1px 0 0 0; padding: 8px 0; }
#block-wanger_funds-0 .first { border: none; }

#block-wanger_funds-0 .content { padding-top: 2px; padding-bottom: 2px; }

.newsletter-nav .deck { font-style: italic; display: block;}

.newsletter-download { font-size: 11px; }


.newsletter-nav a.active:before { content: "> "; display: inline; font-size: 11px; color: #949952; }

/* ie generated content kludge */
.newsletter-nav a.active:before { -ie-content: expression(this.parsed ? 0 : (insertAdjacentText("afterBegin","> "), this.parsed = 1));
	font-size: 11px;
	color: #949952;
}

div.article-jump {
	font-size: 11px; line-height: 14px;
	border: solid #afadae; border-width: 1px 0 0 0;
	padding: 6px 0 0 0;
}

div.article-jump span.deck { font-style: italic; }

div.next-article { width: 200px; float: right; }
div.previous-article { width: 200px; float: left; }


/* Newsletter landing pages */
.newsletter-toc { border: solid #afadae; border-width: 1px 0; margin-top: 6px;}

.newsletter-toc a { display: block; border: solid #dadcdb; border-width: 1px 0 0 0; color: #505153; padding: 8px 0 4px 0; }
.newsletter-toc a:hover { text-decoration: none; background: #edefee; }
.newsletter-toc a.first { border: none; }
.newsletter-toc a span.deck { font-style: italic; width: 175px; display: inline-block; }
.newsletter-toc a span.title { width: 338px; display: inline-block; font-weight: bold;}


hr { border: none; background: #afadae;}


#block-webfm-0 .block-inner .content .file-wrapper { font-size: 12px; }


/* Front Page Grid */


/* Base  */
#block-user-0 { margin-top: 21px; }
.news.block.block .content { height: 89px; }
#sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 25px;}
.logged-in #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 133px;}
.is-admin #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 167px;} 

/* Firefox */
.gecko #block-user-0 { margin-top: 28px; }
.gecko #block-views-whats_new-block_1 { margin-top: 0px; }
.gecko #block-views-special_report_teaser-block_1 { margin-top: -1px; }
.gecko .logged-in #block-views-special_report_teaser-block_1 { margin-top: 0;}
.win.gecko #block-user-0 { margin-top: 27px; }
.win.gecko #block-views-special_report_teaser-block_1 { margin-top: 0; }

/*Safari */
.webkit #block-user-0 { margin-top: 29px; }
.webkit  #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 25px;}
.webkit #block-views-whats_new-block_1 { margin-top: 0px; }
.webkit .logged-in #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 133px;}
.webkit .is-admin #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 167px;}
.win.webkit #block-user-0 { margin-top: 27px; }


/* IE7 & 8 */
.ie #block-user-0 { margin-top: 27px; }
.ie #block-views-whats_new-block_1 { margin-top: 0px; }
.ie .logged-in #block-views-special_report_teaser-block_1 .block-inner { margin-top: 133px;}
.ie .is-admin #block-views-special_report_teaser-block_1 .block-inner { margin-top: 144px;} 

/* IE6*/
.ie6 #block-user-0 { margin-top: 23px; }
.ie6 #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 17px;}
.ie6 #block-views-special_report_teaser-block_1 { margin-top: -1px;}
.ie6 .logged-in #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 133px;}
.ie6 .is-admin #sidebar-right #block-views-special_report_teaser-block_1 .block-inner { margin-top: 61px;}
.ie6 #block-block-10, .ie6 #block-views-whats_new-block_1 { margin-top: 11px; }
.ie6 #block-block-10 { margin-left: 0; }
.ie6 #block-views-whats_new-block_1 { margin-left: 11px; }
.ie6 #block-wanger_funds-1 .content { height: auto; }
.ie6 .node-type-newsletter-article #content-header h1.title { width: 100%; }
.ie6 .sort-archives { top: 8px; }
.ie6 #block-wanger_funds-2 { margin: 0; padding: 0; }
.ie6 #block-wanger_funds-2 .content { width: 513px; height: auto;}
